#topbar {
  background: #bb8b63;
  border-bottom: 1px solid #bb8b63;
  font-size: 15px;
  height: 40px;
  padding: 0;
  color: #fff;
  font-size: 14px;

  .contact-info a {
    line-height: 0;
    color: #fff;
    transition: 0.3s;
    &:hover{
      color: #8f6a4b;
    }
    i {
      color: #fff;
      line-height: 0;
      margin-right: 5px;
    }

    .phone-icon {
      margin-left: 15px;
    }
  
  }
  .social-links a {
    margin:3px;
    color: #fff;
    padding: 6px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    &:hover {
      color: #8f6a4b;
      border: 1px solid #8f6a4b;
    }
    &.Login_buttonBox {
      border: none;
      border-radius: 0px;
      margin-left: 50px;
      font-size: 14px;
      padding: 0px;
      i {
        margin-left: 5px;
        font-size: 22px;
        position: relative;
        top: 3px;
      }
    }
  }

}
