.userCard {
  .card {
    box-shadow: 0 0 1px #00000020, 0 1px 3px #00000033;
    margin-bottom: 1rem;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    &-header {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom: none !important;
      height: 135px;
      padding: 1rem;
      text-align: center;
      background-color: #bb8b63;
      color: #fff;
      position: relative;
      .editIcon {
        position: absolute;
        top: 0;
        padding: 6px;
        right: 0;
        cursor: pointer;
      }
      &-name {
        font-size: 25px;
        font-weight: 300 !important;
      }
      &-desc {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
      }
    }
    &-user-img {
      left: 50%;
      margin-left: -45px;
      position: absolute;
      top: 85px;
      img {
        border: 3px solid #fff;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b !important;
      }
    }
    &-footer {
      padding: 50px 1.25rem 0.75rem 1.25rem !important;
      border-top: none !important;
      background-color: #fff;
      &-heading {
        font-weight: 600;
        padding: none;
        margin: 0px !important;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .topPerformers-card {
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
  }

  .landingPage {
    .col {
      display: flex;
      justify-content: center;
    }
  }
}
.topPerformers {
  h6 {
    letter-spacing: 1px;
    font-weight: normal !important;
  }

  &-card {
    box-shadow: 0 0 1px #00000020, 0 1px 3px #00000033;
    max-width: 350px;
    margin: 10px;
    width: 350px;
    min-width: 350px;
    padding: 0 !important;
    height: 100px;
    overflow: auto;
    border-radius: 5px;
    &-img {
      height: 100px;
      width: 120px;
      min-width: 120px;
      min-height: 100px;
    }
    &-name {
      font-weight: 700;
      letter-spacing: 1.5px;
    }

    &-sub {
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}

.recentPlantings {
  h6 {
    letter-spacing: 1px;
    font-weight: normal !important;
  }
  .create-link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .plantView:hover {
    transform: scale(1.05);
    transition: all 500ms;
    cursor: pointer;
  }
  .plantView {
    width: 250px;
    height: 150px;
    position: relative;
    margin-top: 10px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 150px;
      border-radius: 5px;
      z-index: 0;
    }
    .overlay {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 150px;
      border-radius: 5px;
      background-color: #00000048;
      color: #fff;
      p {
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0 !important;
      }
      h6 {
        font-size: 16px !important;
        margin: 0 !important;
      }
    }
  }
}

.achievement {
  .card {
    box-shadow: 0 0 1px #00000020, 0 1px 3px #00000033;
    max-width: 200px !important;
    width: 200px;
    height: 80px;
    margin: 5px;
  }
  &-details {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    justify-content: flex-end;
    p {
      margin: 0px !important;
    }
  }
  &-icon {
    background-color: #bb8b63;
    width: 100px;
    height: 79px;
    display: flex;
    i {
      margin: auto;
      font-size: 30px;
    }
  }
  &-heading {
    font-weight: 600;
    padding: none;
    margin: 0px !important;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}
